/* solution1 */
/* div{
    width: 100px;
    height: 100px;
    background: red;
    animation: change 6s ;

}
@keyframes change{
    100%{
        background: yellow;
    }
}
.container{
    
    width: 200px;
    height:150px;
    border: 2px solid black;
} */

/* solution2 */
div{
    position: relative;
    background: red;
    width: 100px;
    height: 100px;
    animation: mover1 6s linear forwards ;
}
 @keyframes mover1{
    0%{  background: red; top:0px;left:0px; }
25%{  background: yellow; left: 200px; top: 0px; }
50%{  background: blue; left: 200px; top: 200px; }
75%{  background: green; left: 0px; top: 200px; }
100%{  background: red; top: 0px ; left: 0px; }

  } 
  